@import url('https://fonts.googleapis.com/css?family=Gaegu|Permanent+Marker');
/*
font-family: 'Permanent Marker', cursive;
font-family: 'Gaegu', cursive;
*/

.attribute-table {
  margin: 0 auto;
}

.attribute-table__head__head-cell {
  margin: 0;
  padding: 0 1px;
  font-family: 'Permanent Marker', cursive;
  line-height: 1;
}

.attribute-table__body__cell {
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker', cursive;
  color: #00ff;
  text-align: center;
}

@media only screen and (max-width: 320px) {
  .attribute-table__head__head-cell {
    font-size: small;
  }
}

/*
<table className="attribute-table">
  <thead className="attribute-table__head">
    <tr className="attribute-table__head__row">
      <th className="attribute-table__head__head-cell">STR</th>
      <th className="attribute-table__head__head-cell">INT</th>
      <th className="attribute-table__head__head-cell">WIS</th>
      <th className="attribute-table__head__head-cell">DEX</th>
      <th className="attribute-table__head__head-cell">CON</th>
      <th className="attribute-table__head__head-cell">CHA</th>
      <th className="attribute-table__head__head-cell">HEALTH</th>
    </tr>
  </thead>
  <tbody className="attribute-table__body">
    <tr className="attribute-table__body__row">
      <td className="attribute-table__body__cell">{ this.props.str }</td>
      <td className="attribute-table__body__cell">{ this.props.int }</td>
      <td className="attribute-table__body__cell">{ this.props.wis }</td>
      <td className="attribute-table__body__cell">{ this.props.dex }</td>
      <td className="attribute-table__body__cell">{ this.props.con }</td>
      <td className="attribute-table__body__cell">{ this.props.cha }</td>
      <td className="attribute-table__body__cell">{ this.props.hp }</td>
    </tr>
  </tbody>
</table>
*/