.index-card {
    display: inline-block;
    margin: 20px auto 10px;
    list-style: none;
}

.index-card:after {
	content: "";
	display: block;
	width: 80px;
	height: 25px;
	position: relative;
	top: -15px;
	margin: auto;
	background: rgba(255,255,200,0.25);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	transform: rotate(-5deg);
}

.index-card__content {
	position: relative;
	float: left;
    display: inline-block;
	height: 150px;
    width: 300px;
    margin: 0 20px 20px 20px;
    padding: 4px;
    background: #fefeee;
    background-image: url('../img/index-card.png');
    background-size: contain;
	border: 1px solid #eee;
	/* box-shadow: 5px 5px 5px rgba(0, 0, 0, .2); */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.index-card__content:before, .index-card__content:after {
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	transform: skew(-5deg) rotate(-5deg);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 

.index-card__content:after {
	left: auto;
	right: 12px;
	transform: skew(5deg) rotate(5deg);
}

@media only screen and (max-width: 320px) {
	.index-card__content {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		width: 280px;
	}
}
