@import url('https://fonts.googleapis.com/css?family=Chicle|Gaegu|Permanent+Marker');
/*
font-family: 'Permanent Marker', cursive;
font-family: 'Gaegu', cursive;
*/

.retainer-summary__header {
	margin: 1rem 0 .5rem 0;
    font-size: xx-large;
    font-family: 'Chicle', cursive;
}

.retainer-summary__intro {
	margin: 0 1rem;
	font-size: large;
	font-family: 'Chicle', cursive;
	color: #444;
}

.retainer-summary-list {
	column-width: 20rem;
	font-size: large;
	font-family: 'Gaegu', cursive;
}

	.retainer-list-item {
		padding-right: 1rem;
		list-style: none;
		cursor: pointer;
	}

@media only screen and (max-width: 480px) {
	.retainer-summary-list {
		font-size: large;
	}

	.retainer-summary__intro {
	    font-size: medium;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	.retainer-summary-list {
		font-size: x-large;
	}
}
