@import url('https://fonts.googleapis.com/css?family=Gaegu|Permanent+Marker');

.retainer-card__header {
	display: block;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

.retainer-card__alignment {
	display: block;
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	opacity: 0.5;
	transform: rotate(-15deg);
}

	.retainer-card__alignment--lawful {
		color: #00ff;
	}

	.retainer-card__alignment---chaotic {
		color: hsla(350, 84%, 40%, 1.0);
	}

.retainer-card__gear-list, .retainer-card__personality {
	margin: .5rem 0;
	font-size: smaller;
	line-height: 1;
	font-family: 'Gaegu', cursive;
}

	.retainer-card__gear-list__header {
		display: block;
		margin: 0;
		font-family: 'Permanent Marker', cursive;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
	}

.retainer-card__personality {
	position: relative;
	background: linear-gradient(to bottom, #ffff00 0%, #ffff33 60%, #ffffaa 100%);
	padding: 10px;
	font-size: 60%;
	font-style: italic;
}

.post-it {
	position: relative;
	width: 70%;
	margin-top: 1rem;
}

	.post-it:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 1px;
    border-radius: 20%;
    box-shadow: 0px 0px 10px 5px rgba(50, 50, 50, 0.25);
	}

.retainer-card--large {
	font-size: xx-large;
}
	.retainer-card--large .retainer-card__header {
		margin-bottom: 1rem;
	}

	.retainer-card--large .attribute-table {
		min-width: 90%;
	}

@media only screen and (max-width: 480px) {
	.retainer-card--large {
		font-size: large;
	}

	.retainer-card__header {
		font-size: small;
	}

	.retainer-card__gear-list {
		font-size: smaller;
	}
}
