@import url('https://fonts.googleapis.com/css?family=Gaegu|Permanent+Marker');

.retainer-matrix {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}
	.retainer-matrix__item {
		display: inline-block;
		width: 30%;
		margin: 0 2%;
		margin-top: 20px;
		padding: 0;
		list-style: none;
		text-align: center;
	}

		.retainer-matrix__item:first-child {
			margin-left: 0;
			margin-right: 3%;
		}

		.retainer-matrix__item:last-child {
			margin-left: 3%;
			margin-right: 0;
		}