@import url('https://fonts.googleapis.com/css?family=Gaegu|Permanent+Marker');
/*
font-family: 'Permanent Marker', cursive;
font-family: 'Gaegu', cursive;
*/

.retainer-summary-list {
	column-width: 18rem;
	font-size: large;
	font-family: 'Gaegu', cursive;
}

@media only screen and (max-width: 480px) {
	.retainer-summary-list {
		font-size: large;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	.retainer-summary-list {
		font-size: x-large;
	}
}
