@import url('https://fonts.googleapis.com/css?family=Chicle|Gaegu|Permanent+Marker');

button {
  font-family: 'Permanent Marker', cursive;
}

.App {
  text-align: center;
}

.App-header {
  box-sizing: content-box;
  padding: 20px;
  background-color: hsla(350, 84%, 40%, 1.0);
  color: white;
}

.App-title {
  font-size: xx-large;
  font-family: 'Chicle', cursive;
  color: hsla(57, 97%, 60%, 1.0);
}

.App-intro {
  font-size: large;
  font-family: 'Chicle', cursive;
  color: #444;
}

.btn-toolbar {
  margin: 10px 0;
  font-family: 'Permanent Marker', cursive;
}
  .btn-toolbar .btn-group {
    float: none;
  }

.content-wrapper {
  margin: 0 5rem;
}

  .section-header {
    margin: 1rem 0 .5rem 0;
    font-size: xx-large;
    font-family: 'Chicle', cursive;
  }

  .retainer-export-text {
    width: 100%;
    height: 200px;
  }

.App-footer {
  font-family: 'Chicle', cursive;
  color: #444;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 768px) {
  .btn-toolbar > .btn-group {
    margin-left: 0;
  }

  .btn-group:first-child {
    margin-bottom: .5rem;
  }

  .content-wrapper {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 479px) {
  .content-wrapper {
    margin: 0 1rem;
  }

  .App-intro {
    margin: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .App-intro {
    margin: 1rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .App-intro {
    margin: 1rem 10rem;
  }
}
