@import url('https://fonts.googleapis.com/css?family=Chicle');

.App {
  text-align: center;
}

.App-header {
  box-sizing: content-box;
  width: 100%;
  padding: 20px;
  background-color: hsla(350, 84%, 40%, 1.0);
  color: white;
}

.App-title {
  font-size: xx-large;
  font-family: 'Chicle', cursive;
  color: hsla(57, 97%, 60%, 1.0);
}

.App-intro {
  font-size: large;
  font-family: 'Chicle', cursive;
  color: #444;
}

.content-wrapper {
  margin: 0 5rem;
}

.section-header {
  margin: 1rem 0 .5rem 0;
  font-size: xx-large;
  font-family: 'Chicle', cursive;
}

.App-footer {
  font-family: 'Chicle', cursive;
  color: #444;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 768px) {
  .content-wrapper {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 479px) {
  .content-wrapper {
    margin: 0 1rem;
  }

  .App-intro {
    margin: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .App-intro {
    margin: 1rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .App-intro {
    margin: 1rem 10rem;
  }
}
